# dependencies
/node_modules

# next.js
/.next/

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# husky
.husky

# eslint
.eslintignore