.landing__background {
  background-image: linear-gradient(
      to bottom,
      rgba(189, 189, 192, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url("../../public/landing-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
