.landing__background {
  background-image:
    url("/t2.jpg"), linear-gradient(to bottom, rgb(0, 0, 0), rgb(24, 24, 27));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
